@model List<COREMVCCrudAppADO.NET.Models.Student>
<table class="table table-bordered table-striped">
    <thead>
       <tr>
           <th>Name</th>
           <th>Address</th>
           <th>Email</th>
           <th>Department Name</th>
           <th colspan="3">Action</th>
       </tr>
    </thead>
    @foreach (var item in Model)
    {
        @Html.HiddenFor(x=>item.Id)
<tr>
    <td>@item.Name</td>
    <td>@item.Address</td>
    <td>@item.Email</td>
    <td>@item.DepartmentName</td>
    <td>@Html.ActionLink("Add", "Add", "Student","",new { @class = "btn btn-success" })</td>
    <td>@Html.ActionLink("Edit", "Update", "Student", new { id = item.Id }, new { @class = "btn btn-success" })</td>
    <td>@Html.ActionLink("Delete", "Delete", "Student", new { id = item.Id }, new { @class = "btn btn-success" })</td>
</tr>
    }
</table>